body {
    background: rgba(56, 56, 56, 0.85);
    background: -moz-linear-gradient(left, rgba(56, 56, 56, 0.85) 0%, rgba(66, 66, 66, 0.66) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(56, 56, 56, 0.85)), color-stop(100%, rgba(66, 66, 66, 0.66)));
    background: -webkit-linear-gradient(left, rgba(56, 56, 56, 0.85) 0%, rgba(66, 66, 66, 0.66) 100%);
    background: -o-linear-gradient(left, rgba(56, 56, 56, 0.85) 0%, rgba(66, 66, 66, 0.66) 100%);
    background: -ms-linear-gradient(left, rgba(56, 56, 56, 0.85) 0%, rgba(66, 66, 66, 0.66) 100%);
    background: linear-gradient(to right, rgba(56, 56, 56, 0.85) 0%, rgba(66, 66, 66, 0.66) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#424242', GradientType=1);
}

h1 {
    font-family: sans-serif;
    color: rgba(226, 226, 226, 1);
    text-align: center;
}

h3 {
    font-family: sans-serif;
    color: rgba(226, 226, 226, 1);
    text-align: left;
}
.caja {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background: rgba(56, 56, 56, 0.85);
    overflow: hidden;
    padding: 10px;
    border: 2px solid #5878ca;
}
